.products {
    /* border: solid red 1px; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    text-align: center; /* Centraliza o conteúdo */
    margin: 0 auto; /* Centraliza o container */
}

.slider {
    position: relative;
    overflow: hidden;
}

.productContainer {
    margin-top: 5vh;
    /* border: solid red 1px; */
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Para evitar quebra */
}
.products h2{
    margin-top: 5vh;
}
.productsList {
    background-color: #005A00;
    color: white;
    min-width: 23%; /* 4 produtos por vez */ 
    max-width: 23%;
    margin: 1%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    /* border: solid red 1px; */
}

.productsList h2{
    width: 100%;
    text-align: center;
}
.productsList p{
    width: 100%;
    text-align: center;
}
.productsList button{
    width: 60%;
    text-align: center;
    margin-bottom: 1vh;
}
.productsList figure{
    margin-top: 2vh;
    width: 80%;
    height: 50%;
    /* border: solid red 1px; */
}
.productsList figure img{
    height: 100%;
    width: 100%;
    background-size: cover; /* Corta a imagem para preencher a caixa sem distorção */
    border-radius: 2px; 
    border: solid white 1px;
}

.arrow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: solid #005A00 1px;
    padding: 0.5%;
    margin: 0 auto;
    /* outline: solid red 1px; */
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor:pointer;
    color: rgba(0, 0, 0, 1);
    transition: color 0.3s;
    z-index: 1;
    scale: 1.2;
    color: #005A00;
    background-color:white;
}

.arrow-left {
    left: 0.4vw;
}
.arrow-right {
    right: 0.4vw;
}

button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}

.centered {
    justify-content: center; /* centraliza os cards apenas quando necessário  (menos de 4*/
}