@font-face {
    font-family: Caudex;

    src: url("../../../src/fonts/Caudex/Caudex-Regular.ttf") format('truetype');
}
.initSite{
    margin-top: 6vh;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    color: white;
    font-family: Caudex;
}
.initSite .readOfStore{
    /* border: solid red 1px; */
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.readOfStore article{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-left: 5vw;
    padding: 3%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;
    border-radius: 2%;
    /* border: solid red 1px; */
}
.readOfStore article h2{
    width: 100%;
    height: auto;
    text-align: start;
}
.readOfStore article p{
    
    width: 100%;
    text-align: justify;
}

.initSite aside{
    width: 35%;
}


.initSiteProducts{
    margin-top:6vh;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    color: white;
    font-family: Caudex;
    text-align: center;
    /* border: solid red 1px; */
}

.aboutProducts{
    text-align: center;
    width: 80%;
    height: 50%;
}
.aboutProducts p{
    text-align: justify;
}