.readStory{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    /* border: solid red 1px; */

}
.readStory article{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.readStory article h2{
    width: 100%;
    text-align: center;
}

.readStory article p{
    width: 100%;
    text-align: justify;
}

.readStory article figure{
    width: 100%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.readStory article figure img{
    width: 20%;
    height: auto;
    border-radius: 100%;
}
