.popup {
    display: none; /* Padrão escondido */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* em cima dos outros elementos */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}
.popup-content h2{
    margin-top: 2vh;
    width: 90%;
    height: auto;
    text-align: center;
    /* border: solid red 1px; */
}
#loginForm{
    /* border: solid red 1px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4vh;
}

#loginForm{
    label{
        width: 100%;
        text-align: center;
    }
    input{
        width: 80%;
    }
}
.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    width: 5%;
    /* border: solid red 1px; */
    text-align: center;
}

.no-scroll {
    overflow: hidden;
}


.popup-content #submitLogin{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    /* background-color: #007bff; */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Bordas arredondadas */
    /* margin-top: 2vh; */
    /* margin-bottom: 2vh; */
    width: 50%;
    height: auto;
    text-align: center;
    /* border: solid red 1px; */
}

.createAccount{
    width: 100%;
    height: auto;
    /* border: solid red 1px; */
    text-decoration: none;
    color: rgb(40, 253, 97);
}
#createAccountText{
    width: 100%;
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
