body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.products {
    border: solid red 1px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    text-align: center; /* Centraliza o conteúdo */
    margin: 0 auto; /* Centraliza o container */
}

.slider {
    position: relative;
    overflow: hidden;
}

.productContainer {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Para evitar quebra */
}

.productsList {
    min-width: 25%; /* 4 produtos por vez */
    box-sizing: border-box;
    padding: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
    z-index: 1; /* Para garantir que fique sobre os cards */
}

.arrow:hover {
    color: rgba(0, 0, 0, 0.8);
}

.arrow-left {
    left: 10px; /* Alinha à esquerda */
}

.arrow-right {
    right: 10px; /* Alinha à direita */
}

button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}


.centered {
    justify-content: center; /* Centraliza apenas quando necessário */
}